// variables
$h1FS: 28px
$h2FS: 24px
$h3FS: 20px
$h4FS: 18px

$contentFS: 18px
$contentTitleFS: 16px
$articleFS: 14px
$articleLH: 24px
$timeFS: 12px
$navFS: 14px

$headCLR: #aaa
$contentCLR: #666
$articleCLR: #333
$linkCLR: #008CAF
$linkOnCLR: #10489B
$fakeOnCLR: #333
$timeCLR: #999

$disabledColor: #ccc
// end variables


// functions
@mixin fontSize($ieFS, $webkitFS)
  font-size: $ieFS
  font-size: $webkitFS
// end functions

  
html,
body
  background-color: #FFF

a
  color: #008CAF
  &:hover
    color: $linkOnCLR

code
  display: inline-block
  border: 1px solid #ccc
  background: #eee
  font-size: 12px
  line-height: 16px
  margin: 0 2px
  padding: 0 2px

// common part
.blogV2-wrapper
  width: 680px
  margin: 0 auto
  padding: 80px 0 40px

#blogV2-head
  width: 100%
  overflow: hidden
  padding-bottom: 10px
  margin-bottom: 15px
  border-bottom: 1px solid $headCLR
  h1
    float: left
    margin: 0
    &:hover
      a
        color: $fakeOnCLR
    a
      color: $headCLR
      font-size: $h1FS
  #blogV2-nav
    float: right
    margin: 0
    line-height: 32px
    li
      display: inline-block
      margin-left: 12px
    a
      color: $headCLR
      font-size: $h4FS
    .on, li:hover
      a
        color: $fakeOnCLR
// end common part


/* page styles */
// index styles
#blogV2-content
  padding-top: 20px
  ul
    margin: 0
    padding: 0
  li
    margin-bottom: 12px
  .content-title
    font-size: $contentFS
    color: $linkCLR
    &:hover
      color: $linkOnCLR
  .push-time
    margin-left: 10px
    font-size: $timeFS
    color: $timeCLR
// end index styles


// archives styles
#archives-post
  padding-top: 15px
  color: $contentCLR
  .post-title
    font-size: $contentFS
  .push-time
    margin-left: 10px
    font-size: $timeFS
    color: $timeCLR
  .post-content
    font-size: $articleFS
    line-height: $articleLH
  .post-content-title
    font-size: $contentTitleFS
  .ordered-list
    list-style-type: none
    padding: 0
    li
      padding-bottom: 10px
      &:last-child
        padding-bottom: 0
    .icon-num
      margin-right: 5px
    img
      display: block

#blogV2-archives-nav
  overflow: hidden
  .prev, .next
    font-size: $navFS
  .prev
    float: left
    .icon
      margin-right: 5px
  .next
    float: right
    .icon
      margin-left: 5px
  .disabled
    color: $disabledColor
    cursor: default

// end archives styles

// about-me styles
#aboutMe
  font-size: $articleFS
  line-height: $articleLH
  .basic
    margin: 0
    padding: 0
// end about-me styles


/* end page styles */

// mobile